<body class="bg">
<h1>Country Companion</h1>
<div class="center">
<h2>This is the favorites page</h2>

<p>-- Results will show up on your profile --</p>
<p>Name:</p>


<form method="GET" action="/auth/favorites">
    <label for="addFave">Add Favorite Country</label>
    <input id="addFave" type="text" name="addFave">
    <input type="submit">
  </form>


</div>
</body>