<h1>Country Companion</h1>
<div class="center">
<form action="/auth/login" method="POST">
    <div class="form-center">
    <div class="input1">
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email">   
    </div>

    <div class="input4">
    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password">
    <div>

    <input class="login" type="submit" value="Login">
    </div>
</form>
</div>