<h1>This is the search Page</h1>


<h4>This is where we will include the input field and return country data</h4>
<form method="POST" action="/favorites">
    <label for="addFave">Add Favorite Country</label>
    <input id="addFave" type="text" name="addFave">
    <input type="submit">
  </form>