<body class="bg">
<h1>Country Companion</h1>
<div class="center">
<h2>This is the Search Page</h2>
  <label for="url">Enter the name of the country after https://restcountries.eu/rest/v2/name/usa</label>

  <input type="url" name="url" id="url" 
       placeholder="https://restcountries.eu/rest/v2/name/usa"
       pattern="https://.*" size="30"
       required
       button=>
  <input type="submit" value="Send Data">
</div>
</body>

