<h1>Country Companion</h1>
<div class="center">
<h2>This is the Search Page</h2>

<h4>This is where we will include the input field and return country data</h4>
<form method="POST" action="/favorites">
    <label for="addFave">Add Favorite Country</label>
    <input id="addFave" type="text" name="addFave">
    <input type="submit">
  </form>
</div>