<body class="bg">
<h1>Country Companion</h1>
<div class="center">
<form action="/auth/signup" method="POST">
    <div class="input1">
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email">
    </div>

    <div class="input2">
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name">
    </div>

    <div class="input3">
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password">
    </div>

    <input type="submit" value="signup">
</form>
</div>
</body>