<body class="bg">
<h1>Country Companion</h1>
<div class="about">
Country Companion is an express app created by Ron that can be utilized to 
see different datapoints for countries simply by typing in the full or partial Name
of a country.
<div>You can create/edit a list of your favorite countries for you to reference later.</div> 
<div>You can type in either the full or partial name of a country to pull up several datapoints like currency type, country code, etc.<div>
</div>    
</body>