<body class="bg">

<h1>Country Companion</h1>

<div class="page"></div>

<div class="indexpage">
<img src="assets/countries.jpg" id="country">

<h3>The world is at your fingertips!</h3>

<div>Country Companion is a members only application designed to bridge the knowledge gap between countries in the world. Have you ever wondered how many people live in New Zealand? Find out today!</div>

<form method ="GET" action="auth/signup">
    <input type="submit" value="Sign Up Now!"/>
</form> 
<div>



</body>