.indexpage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg {
  background-color: beige;
}

/* .page {
  background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg');
  width: 3000px;
  height: 3000px;
} */

#country {
  width: 500px;
  height: 350px;
}

.nolog {
  list-style-type: none;
  text-decoration: none;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 350px;
  margin-left: 1100px;
  margin-top: 30px;
}

.logged {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 500px;
  margin-left: 800px;
  margin-top: 30px;
}

.woo {
  height: 500px;
  width: 800px;
  margin-bottom: 2em;
}

.center {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.input1 {
  margin-top: 7em;
  margin-left: 9px;
}

.input2 {
  margin-left: 5px;
}

.input3 {
  margin-right: 20px;
}

.input4 {
  margin-right: 20px;
}

.login {
  margin-top: 10px;
  margin-left: 50px;
}

.about {
  margin-left: 1.5em;
}

nav {
  background-color: blanchedalmond;
}

h1 {
  display: flex;
  justify-content: center;
  margin-left: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}


/* For search.ejs*/

