nav ul li {
  text-decoration: none;
  display: inline-block
}

.center {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.about {
  margin-left: 1.5em;
}

nav {
  background-color: blanchedalmond;
}

h1 {
  color: blue;
  display: flex;
  justify-content: left;
  margin-left: 0.5em;
}